footer {
    padding: 50px 0;
    @include fontS;
    color: $black;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            margin-left: 25px;
        }

        p a:hover img {
            opacity: 0.55;
            @include transition;
        }

    }

    @include tablet {
        padding: 10px 0 20px;

        .wrapper {
            flex-wrap: wrap;
            flex-direction: column-reverse;

            > a {
                display: none;
            }

            p {
                font-size: 0;

                a {
                    display: block;
                    font-size: 15px;
                }

            }

            img {
                margin-left: 0;
            }

        }

    }

}