footer {
    padding: 50px 0;
    @include fontS;
    color: $black;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a {
            color: $black;
            line-height: 17px;
            border-bottom: 1px solid $black;
            @include transition;

            &:hover {
                border-bottom: 1px solid transparent;
            }

        }

        img {
            margin-left: 25px;
        }

        p a:hover img {
            opacity: 0.55;
            @include transition;
        }

    }


}