.profile {
    background: $pink;
    @include fontM;

    h2 {
        @include fontGiant;
        font-weight: $fontBold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        color: $white;
        margin-bottom: 30px;
    }

    article {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    figure {
        width: 327px;
        height: 327px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 100%;
        }

    }

    .resume {
        width: 50%;
        margin-left: 30px;

        p {
            color: $black;
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }

        }

    }

    @include tablet {
        article {
            flex-wrap: wrap;
            text-align: center;
        }

        figure {
            width: 250px;
            height: 250px;
        }

        .resume {
            flex-basis: 100%;
            margin-left: 0;
            margin-top: 40px;
        }

    }

}