// Generic Components //

.btn1 {
    background: $pink;
    @include fontS;
    text-transform: uppercase;
    border: 1px solid $white;
    border-radius: 10px;
    padding: 10px 25px;
    @include transition;

    &:hover {
        background: #efe4c3;
    }

}