// Fonts //
$font: 'Lato', sans-serif;
$fontRegular: 400;
$fontBold: 700;

// Colors //
$white: #ffffff;
$black: #232c35;
$grey: #aeaab0;
$mediumGrey: #acb8c1;
$pink: #f2d3de;
$lightPink: #dad5dc;
$blue: #A1B7D1;
$lightBlue: #c4d5e8;
$lightYellow: #fff9e6;

// Font Sizes //
$fontGiant: 56px;
$fontXXL: 36px;
$fontXL: 30px;
$fontL: 24px;
$fontM: 17px;
$fontS: 15px;
$fontXS: 11px;
// Font Sizes Mobile //
$fontGiantMobile: 30px;
$fontXXLMobile: 24px;
$fontXLMobile: 24px;
$fontLMobile: 17px;
$fontMMobile: 17px;
$fontSMobile: 15px;
$fontXSMobile: 11px;

// Theme Base Background-Color //
[data-theme="black"] {
    background-color: $black;
}

// Box-shadow //
$box-shadow: 0px 50px 50px 0 rgba(35, 44, 53, 0.08);

// Mobile blue outline remover //
%outline {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}