.hero {
    background: $lightBlue;
    color: $white;
    @include fontM;
    text-align: center;

    h1 {
        @include fontGiant;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 30px;
    }

    p {
        color: $black;
        font-style: italic;
        margin-bottom: 50px;
    }

    a:first-of-type {
        margin-right: 20px;
    }

}