.contactForm {
    background: $grey;
    @include fontM;

    h2 {
        @include fontGiant;
        font-weight: $fontBold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        color: $white;
        margin-bottom: 80px;
    }

    form {
        max-width: 700px;
        height: 337px;
        margin: auto;
        @include transition;

        input, textarea {
            @include fontM;
            color: $lightPink;
            border-bottom: 1px solid $black;
            margin-bottom: 20px;
            padding-left: 5px;
            padding-bottom: 10px;
        }

        input[type=email] {
            margin-left: 20px;
        }

        textarea {
            height: 110px;
        }

        // Placeholders
        ::-webkit-input-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }
        ::-moz-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }
        :-moz-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }
        :-ms-input-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }

        :focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity .3s ease;
            @include transition ($property: opacity, $duration: .3s, $ease: ease);
        }

        button {
            display: block;
            margin: auto;
        }

        &.hide {
            height: 0;
            opacity: 0;
        }

    }

    .formNotification {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        color: $white;
        text-align: center;
        padding: 30px;
        @include transition ($duration: .5s);
        z-index: 1;

        &.success {
            background: $lightGreen;
            transform: translateY(0);
        }

    }

    iframe {
        display: none;
    }

    .freebirdFormviewerViewItemList {
        display: flex;
        flex-wrap: wrap;

        // first two
        > :nth-child(-n + 2) {
            flex-basis: 50%;

            input, textarea {
                width: 95%;
            }

        }

        // third and onwards
        > :nth-child(n + 3) {
            flex-basis: 100%;

            input, textarea {
                width: 100%;
            }

        }

    }

}