.contactForm {
    background: $grey;
    @include fontM;

    h2 {
        @include fontGiant;
        font-weight: $fontBold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 3px;
        color: $white;
        margin-bottom: 80px;
    }

    form {
        max-width: 700px;
        height: 337px;
        margin: auto;
        @include transition;

        input, textarea {
            @include fontM;
            color: $lightPink;
            border-bottom: 1px solid $black;
            margin-bottom: 20px;
            padding-left: 5px;
            padding-bottom: 10px;
        }

        input[type=email] {
            margin-left: 20px;
        }

        textarea {
            height: 110px;
        }

        // Placeholders
        ::-webkit-input-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }
        ::-moz-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }
        :-moz-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }
        :-ms-input-placeholder {
            @include fontM;
            color: $lightPink;
            font-style: italic;
        }

        :focus::-webkit-input-placeholder {
            opacity: 0;
            transition: opacity .3s ease;
            @include transition ($property: opacity, $duration: .3s, $ease: ease);
        }

        button {
            display: block;
            @include fontM;
            font-style: italic;
            margin: auto;
            cursor: pointer;
        }

        &.hide {
            height: 0;
            opacity: 0;
        }

    }

    .formNotification {
        width: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        color: $white;
        text-align: center;
        padding: 30px;
        @include transition ($duration: .5s);
        z-index: 1;

        &.success {
            background: $lightGreen;
            transform: translateY(0);
        }

    }

    iframe {
        display: none;
    }

    .freebirdFormviewerViewItemList {
        display: flex;
        flex-wrap: wrap;

        // first two
        > :nth-child(-n + 2) {
            flex-basis: 50%;

            input, textarea {
                width: 95%;
            }

        }

        // third and onwards
        > :nth-child(n + 3) {
            flex-basis: 100%;

            input, textarea {
                width: 100%;
            }

        }

    }

}

// .systemNotifications {
//     max-width: 900px;
//     width: 90%;
//     display: flex;
//     align-items: center;
//     position: fixed;
//     bottom: -200px;
//     left: 50%;
//     transform: translateX(-50%);
//     @include font-s ($neu-07);
//     text-align: left;
//     background: rgba(133, 231, 47, 0.1);
//     border: 1px solid $neu-07;
//     border-radius: 5px;
//     padding: 7px 25px 7px 10px;
//     z-index: 5;

//     > i {
//         margin-right: 18px;
//     }

//     > p {
//         flex: 2;
//         font-weight: $fontLight;
//         padding-right: 20px;

//         strong {
//             font-weight: $fontRegular;
//         }

//         a {
//             color: inherit;
//             font-weight: $fontRegular;
//         }

//     }

//     &__close {
//         font-weight: $fontBold;
//         text-transform: uppercase;
//         color: inherit;
//     }

//     &.show {
//         animation: systemNotificationsShow .4s;
//         bottom: 50px;
//     }

//     &.hide {
//         animation: systemNotificationsClose .4s;
//     }

//     &.success {
//         color: #85e72f;
//         background: #f2fcea;
//         border-color: #85e72f;
//     }

//     &.error {
//         color: #f41313;
//         background: #fef3f3;
//         border-color: #f41313;
//     }

//     &.info {
//         color: $add-02;
//         background: #eef3ff;
//         border-color: $add-02;
//     }

//     &.warning {
//         color: $add-06;
//         background: #fff7e5;
//         border-color: $add-06;
//     }

//     @include mobile {
//         padding: 15px 20px;

//         > i {
//             display: none;
//         }

//         &.show {
//             animation: systemNotificationsMobileShow .4s;
//             bottom: 20px;
//         }

//         &.hide {
//             animation: systemNotificationsMobileClose .4s;
//         }

//     }

// }