.imageComparison {
    background: $lightBlue;
    @include fontM;
    color: $white;
    text-align: center;

    h2 {
        @include fontGiant;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 20px;
    }

    &__container {
        width: 260px;
        height: 700px;
        display: inline-block;
        position: relative;
        margin-bottom: 50px;

        &[data-shape="square"], &[data-shape="square"] figure img {
            width: 350px;
            height: 550px;
        }

    }

    figure {
        position: absolute;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        overflow:hidden;
    }

    img {
        display: block;
        width: 260px;
        height: 700px;
    }

    &__slideButton {
        position: absolute;
        z-index:9;
        cursor: ew-resize;
        // set the appearance of the slider:
        width: 40px;
        height: 40px;
        background-color: #2196F3;
        opacity: 0.7;
        border-radius: 50%;
    }

}