.mainNav {
    background: $lightPink;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    figure {
        width: 233px;
        height: 70px;

        img {
            width: 100%;
        }

    }

    ul {
        display: flex;

        li {
            @include fontS;
            color: $black;
            text-transform: uppercase;
            margin-right: 30px;
            @include transition;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                color: $blue;
            }

            a {
                display: block;
            }

        }

    }

    @include mq(0, 1023px) {
        figure {
            width: 133px;
            height: 42px;
        }
    }

}