.mainNav {
    background: $lightPink;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    figure {
        width: 233px;
        height: 70px;

        img {
            width: 100%;
        }

    }

    ul {
        display: flex;
    }

    li {
        @include fontS;
        color: $black;
        text-transform: uppercase;
        margin-right: 30px;
        @include transition;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $blue;
        }

        a {
            display: block;
        }

    }

    i {
        display: none;
    }

    @include mq (0, 1023px) {
        li {
            margin-right: 20px;
        }
    }

    @include tablet {
        height: 110px;
        overflow: hidden;
        @include transition ($duration: .5s);

        &.open {
            height: 100vh;
        }

        nav {
            flex-direction: column;
            align-items: flex-start;
        }

        figure {
            width: 133px;
            height: 42px;
        }

        ul {
            width: 100%;
            flex-direction: column;
            margin-top: 50px;
        }

        li {
            text-align: center;
            margin: 0 0 40px;
        }

        i {
            display: block;
            position: absolute;
            top: 35px;
            right: 20px;
            font-size: 30px;
            cursor: pointer;
        }

    }

}