.mainNav {
    background: $lightPink;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 40px 0;
    }

    figure {
        width: 233px;
        height: 40px;

        img {
            width: 100%;
        }

    }

    ul {
        display: flex;
    }

    li {
        @include fontS;
        color: $black;
        text-transform: uppercase;
        margin-right: 30px;
        @include transition;

        &:last-child {
            margin-right: 0;
        }

    }

    &__menuIcon {
        display: none;
        width: 28px;
        position: absolute;
        top: 32px;
        right: 20px;
        cursor: pointer;

        span, &:before, &:after {
            content: '';
            height: 2px;
            display: block;
            background-color: $black;
            margin: 7px 0;
            border-radius: 4px;
        }

        span {
            @include transition ($duration: .25s, $ease: ease-in-out);
        }

        &:before, &:after {
            @include transition ($duration: .5s, $ease: ease-in-out);
        }
    }

    @include mq (0, 1023px) {
        li {
            margin-right: 20px;
        }
    }

    @include tablet {
        height: 100px;
        overflow: hidden;
        @include transition ($duration: .5s);

        &.open {
            height: 100vh;
            .mainNav__menuIcon {
                span {
                    transform: scale(0);
                }
                &:before {
                    transform: translateY(9px) rotate(45deg);
                }
                &:after {
                    transform: translateY(-9px) rotate(-45deg);
                }
            }
        }

        nav {
            flex-direction: column;
            align-items: flex-start;
        }

        figure {
            width: 133px;
            height: 22px;
        }

        ul {
            width: 100%;
            flex-direction: column;
            margin-top: 60px;
        }

        li {
            text-align: center;
            margin: 0 0 40px;
        }

        &__menuIcon {
            display: block;
        }

    }

}