.table {
    @include fontL;
    background: $pink;
    font-weight: $fontBold;
    text-align: center;

    table {
        max-width: 980px;
        width: 100%;
        display: inline-block;
        text-align: left;
        margin-bottom: 20px;
        white-space: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: $white;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $grey;
            border: 2px solid $white;
            border-radius: 10px;
        }

        thead {
            color: $white;
            text-transform: uppercase;
        }

        tbody tr {
            background: $white;
            color: $lightBlue;

            &:nth-child(even) {
                background: $lightBlue;
                color: $white;
            }

        }

        th, td {
            width: 16%;
            vertical-align: middle;
            padding: 20px;

            &.filled:before {
                content: '';
                width: 25px;
                height: 25px;
                display: block;
                position: relative;
                left: 20px;
                border-radius: 50%;
                border: 10px solid;
            }

            &.filled:hover {
                transform-origin: center;
                animation: spinningCircle .7s ease-in-out 0s normal;
            }

        }

        td:first-child {
            width: 48%;
        }

    }

    @include tablet {
        display: none;
    }



    // Animation for spinning circle
    @keyframes spinningCircle {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(720deg);
        }
    }

}