.iconList {

    ul {
        display: flex;
        justify-content: center;
        text-align: center;

        li {
            max-width: 220px;
            padding: 0 20px;
        }

    }

    figure {
        width: 100px;
        height: 100px;
        background: $lightPink;
        border-radius: 50%;
        margin: 0 auto 20px;
        @include transition ($duration: .35s);

        img {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        &:hover {
            transform: scale(1.1)
        }

    }

    p {
        text-transform: uppercase;
        line-height: 23px;
        letter-spacing: 2px;
    }

    @include tablet {
        ul {
            flex-wrap: wrap;

            li {
                max-width: 50%;

                &:first-of-type {
                    margin-bottom: 40px;
                }

            }

        }
    }

    @include mobile {
        ul li {
            padding: 0 10px;
        }

        p {
            letter-spacing: 0;
        }

        figure {
            width: 70px;
            height: 70px;

            img {
                width: 75%;
                height: 75%;
            }

        }
    }

}