.blocksList {
    @include fontS;
    color: $white;
    text-align: center;

    .wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    h2 {
        flex-basis: 100%;
        @include fontGiant;
        color: $lightBlue;
        font-weight: $fontBold;
        text-transform: uppercase;
        letter-spacing: 10px;
        margin-bottom: 70px;
    }

    article {
        max-width: 250px;
        background: $lightBlue;
        letter-spacing: 1px;
        margin: 0 10px 40px;
        padding: 40px;
        transform: translateY(-4px);
        box-shadow: $boxShadow;
        @include transition;

        &:hover {
            transform: translateY(0);
            box-shadow: $boxShadowHover;
        }

    }

    &__mobileText {
        display: none;
    }

    small {
        @include fontXS;
    }

    &[data-mobile="true"] {
        background: $lightYellow;
        @include fontM;
        color: $grey;

        article {
            max-width: 185px;
            min-height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            background: $white;
            padding: 60px 20px;

            &.blocksList__mobileOnly {
                display: none;
            }

        }

    }

    @include tablet {

        &:not([data-mobile="true"]), h2 {
            display: none;
        }

        &[data-mobile="true"] {
            background: $pink;

            article {
                max-width: unset;
                width: 46%;
                min-height: 150px;
                margin: 20px auto;
                padding: 30px 10px;

                &.blocksList__mobileOnly {
                    display: flex;
                }

            }

        }

        p:not(.blocksList__mobileText), small {
            display: none;
        }

        &__mobileText {
            display: block;
        }

    }

}